<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Водитель</title></head>
<body>

<div th:replace="fragments/header :: header"></div>

<h2 th:text="${driver.driverId == null ? 'Добавить водителя' : 'Редактировать водителя'}"></h2>

<form th:action="@{${actionUrl}}" th:object="${driver}" method="post">

<label>ФИО:</label>
  <input type="text" th:field="*{fullName}" required><br><br>

  <label>Номер лицензии:</label>
  <input type="text" th:field="*{licenseNumber}" required><br><br>

  <label>Телефон:</label>
  <input type="text" th:field="*{phoneNumber}"><br><br>

  <label>Стаж:</label>
  <input type="number" th:field="*{experienceYears}"><br><br>

  <label>Логин пользователя:</label>
  <select name="userId" required>
    <option th:each="u : ${users}"
            th:value="${u.userId}"
            th:text="${u.username}"
            th:selected="${driver.user != null and driver.user.userId == u.userId}">
    </option>
  </select>
  <br><br>

  <button type="submit">Сохранить</button>
</form>

<a th:href="@{/admin/drivers}">Отмена</a>

</body>
</html>
