<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: header"></div>
    <title>Водители</title>
</head>
<body>

<h2>Список водителей</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Лицензия</th>
        <th>Телефон</th>
        <th>Опыт (лет)</th>
        <th>Статус</th>
    </tr>

    <tr th:each="d : ${drivers}">
        <td th:text="${d.driverId}"></td>
        <td th:text="${d.fullName}"></td>
        <td th:text="${d.licenseNumber}"></td>
        <td th:text="${d.phoneNumber}"></td>
        <td th:text="${d.experienceYears}"></td>
        <select name="status">
            <option value="Свободен">Свободен</option>
            <option value="На заказе">На заказе</option>
            <option value="Неактивен">Неактивен</option>
        </select>
    </tr>
</table>

<h3>Добавить водителя</h3>

<form method="post" th:action="@{/drivers}">
    <input name="fullName" placeholder="ФИО" required>
    <input name="licenseNumber" placeholder="Номер лицензии" required>
    <input name="phoneNumber" placeholder="Телефон">
    <input name="experienceYears" placeholder="Стаж" type="number">
    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/}">На главную</a>

</body>
</html>