<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Водители</title></head>
<body>

<div th:replace="fragments/header :: header"></div>

<h2>Водители</h2>

<a th:href="@{/admin/drivers/add}">Добавить водителя</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Лицензия</th>
        <th>Телефон</th>
        <th>Стаж (лет)</th>
        <th>Действия</th>
    </tr>

    <tr th:each="d : ${drivers}">
        <td th:text="${d.driverId}"></td>
        <td th:text="${d.fullName}"></td>
        <td th:text="${d.licenseNumber}"></td>
        <td th:text="${d.phoneNumber}"></td>
        <td th:text="${d.experienceYears}"></td>
        <td>
            <a th:href="@{'/admin/drivers/edit/' + ${d.driverId}}">Редактировать</a> |
            <a th:href="@{'/admin/drivers/deactivate/' + ${d.driverId}}"
               onclick="return confirm('Добавить водителя в архив?')">В архив</a>
        </td>
    </tr>
</table>

<a th:href="@{/admin/dashboard}">Назад</a>

</body>
</html>
