<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Пользователь</title></head>
<body>

<div th:replace="fragments/header :: header"></div>

<h2 th:text="${user.userId == null ? 'Добавить пользователя' : 'Редактировать пользователя'}"></h2>

<form th:action="@{${actionUrl}}" th:object="${user}" method="post">


    <label>Логин:</label>
    <input type="text" th:field="*{username}" required><br><br>

    <label>Роль:</label>
    <select th:field="*{role}">
        <option value="ADMIN">ADMIN</option>
        <option value="OPERATOR">OPERATOR</option>
        <option value="DRIVER">DRIVER</option>
    </select><br><br>

    <label>Пароль:</label>
    <input type="password" th:field="*{passwordHash}">
    <small th:if="${user.userId != null}">Оставьте пустым, чтобы не менять</small>
    <br><br>

    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/admin/users}">Отмена</a>

</body>
</html>
