<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль водителя</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        
        <div class="nav-links">
            <a th:href="@{/driver/orders}" class="btn btn-secondary">На главную</a>
        </div>
        
        <h2>Профиль водителя</h2>
        
        <p>Информация о профиле водителя будет здесь.</p>
    </div>
</body>
</html>